{% extends "base.html" %}

{% block content %}
  <div class="container mt-5 text-center">
    <h2>To-Do List</h2>
    <br>
    <div class="container text-start">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center">제목</th>
            <th scope="col" class="text-center">내용</th>
            <th scope="col" class="text-center">완료</th>
            <th scope="col" class="text-center">우선순위</th>
            <th scope="col" class="text-center">등록일자</th>
            <th scope="col" class="text-center">마감기한</th>
          </tr>
        </thead>
        <tbody>
        {% if todos %}
          {% for todo in todos %}
            <tr>
              <th scope="row">
                <a href="{{ url_for('main.detail', id=todo.id) }}" class="link-secondary link-underline link-underline-opacity-0">
                  {{ todo.title }}
                </a>
              </th>
              {% if todo.content == None %}
                <td class="text-center">-</td>
              {% else %}
                <td class="text-truncate">{{ todo.content }}</td>
              {% endif %}
              {% if todo.completed == False %}
                <td class="text-center">-</td>
              {% else %}
                <td class="text-center">완료</td>
              {% endif %}
              <td class="text-center">{{ todo.priority }}</td>
              <td class="text-center">{{ todo.created_at.strftime('%Y-%m-%d') }}</td>
              <td class="text-center">{{ todo.deadline }}</td>
            </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
      <div class="text-end">
        <a href="{{ url_for('main.create') }}" class="btn btn-outline-dark">추가하기</a>
      </div>
    </div>
  </div>
{% endblock content %}