{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="card text-bg-light m-auto" style="width: 30rem;">
      <div class="card-header pt-3">
        <h4 class="card-title">{{ todo.title }}</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row" class="text-start">내용</th>
              <td class="text-end">{{ todo.content }}</td>
            </tr>
            <tr>
              <th scope="row" class="text-start">우선순위</th>
              <td class="text-end">{{ todo.priority }}</td>
            </tr>
            <tr>
              <th scope="row" class="text-start">등록일자</th>
              <td class="text-end">{{ todo.created_at.strftime('%Y-%m-%d') }}</td>
            </tr>
            <tr>
              <th scope="row" class="text-start">마감기한</th>
              <td class="text-end">{{ todo.deadline }}</td>
            </tr>
            <tr>
              <th scope="row" class="text-start">완료여부</th>
              <td class="text-end d-flex justify-content-end">
                <div onclick="location.href='{{ url_for('main.toggle', id=todo.id) }}'" style="cursor: pointer;">
                  {% if todo.completed == False %}
                  미완
                  {% else %}
                  완료
                  {% endif %}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <a href="{{ url_for('main.index') }}" class="btn btn-secondary">뒤로가기</a>
        <div class="d-flex">
          <a href="{{ url_for('main.update', id=todo.id) }}" method="GET" class="btn btn-outline-success px-3 mx-3">수정</a>
          <form action="{{ url_for('main.delete', id=todo.id) }}" method="POST">
            <input type="submit" value="삭제" class="btn btn-outline-danger">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}